.Rproj.user
.Rhistory
.RData
.Ruserdata


/outputs/*
/inputs/*
/GIS/*
/scrap/*
/other/*
/scripts/aser_2018_initial_investigation.html

!/outputs/.gitkeep
!/inputs/.gitkeep
!/scrap/.gitkeep
!/other/.gitkeep
