.Rproj.user
.Rhistory
.RData
.Ruserdata


/outputs/*
/inputs/*
/GIS/*
/DAP/*
/scrap/*
/other/*
/all_input/*
/summary.html
/summary_report_CODEC_removed.html
/scripts/aser_2018_initial_investigation.html

!/outputs/.gitkeep
!/inputs/.gitkeep
!/scrap/.gitkeep
!/other/.gitkeep
